@charset "UTF-8";
:root {
  --icon-color: currentColor;
  --icon-size: 15px;
}
i {
  display: inline-block;
  width: var(--icon-size);
  height: var(--icon-size);
  background-color: var(--icon-color);
  mask-size: var(--icon-size);
}